[submodule "enn583"]
	path = enn583
	url = git@github.com:nikosuenderhauf/enn583.git
[submodule "thesis/Depth-Anything"]
	path = thesis/Depth-Anything
	url = git@github.com:LiheYoung/Depth-Anything.git
[submodule "thesis/colmap"]
	path = thesis/colmap
	url = git@github.com:colmap/colmap.git
[submodule "thesis/nerfstudio"]
	path = thesis/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "thesis/zed_ws/src/zed-ros2-wrapper"]
	path = thesis/zed_ws/src/zed-ros2-wrapper
	url = git@github.com:stereolabs/zed-ros2-wrapper.git
[submodule "thesis/zed_ws/src/zed-open-capture"]
	path = thesis/zed_ws/src/zed-open-capture
	url = git@github.com:stereolabs/zed-open-capture.git
