[submodule "enn583"]
	path = enn583
	url = git@github.com:nikosuenderhauf/enn583.git
[submodule "enn581/wk12/pgraph-python"]
	path = enn581/wk12/pgraph-python
	url = /home/castrou/university/enn581/wk12/pgraph-python
