<?xml version="1.0"?>
<robot name="enn581_2-1">

    <link name="BASE"/>

    <link name="link0">
        <visual>
            <geometry>
                <cylinder length="0.4" radius="0.1"/>
            </geometry>
        </visual>
    </link>

    <link name="link1">
        <visual>
            <geometry>
                <cylinder length="0.4" radius="0.1"/>
            </geometry>
        </visual>
    </link>

    <link name="link2">    
        <visual>
            <geometry>
                <cylinder length="0.4" radius="0.1"/>
            </geometry>
        </visual>
    </link>

    <link name="link3">
        <visual>
            <geometry>
                <cylinder length="0.4" radius="0.1"/>
            </geometry>
        </visual>
    </link>

    <link name="link4">
        <visual>
            <geometry>
                <cylinder length="0.4" radius="0.1"/>
            </geometry>
        </visual>
    </link>

    <link name="link5">
        <visual>
            <geometry>
                <cylinder length="0.4" radius="0.1"/>
            </geometry>
        </visual>
    </link>

    <joint name="q0">
        <parent link="BASE" />

    </joint>

    <joint name="q1">
        <parent link="link0" />
        <child link="link2" />
    </joint>

    <joint name="q2">
        <parent link="link1" />
        <child link="link3" />
    </joint>

    <joint name="q3">
        <parent link="link2" />
        <child link="link4" />
    </joint>

    <joint name="q4">
        <parent link="link3" />
        <child link="link5" />
    </joint>

    <joint name="q5">
        <parent link="link4" />
    </joint>
</robot>